<div class="header">
    <ul class="nav nav-pills pull-right">
        <li><a href="#/">Home</a></li>
        <li class="active"><a href="#about">About</a></li>
    </ul>
    <h3 class="text-muted">NowTV Bill Test</h3>
</div>

<div class="row marketing">
    <h1>How the NowTV Test works</h1>
    <p>The Bill Test app uses AngularJS to retrieve the bill data from the remote REST endpoint. It then formats the
    bill by iterating through the data structure, rendering the HTML via ng-repeat, making the HTML nice and light.</p>
    <p>I follow <a href="https://github.com/johnpapa/angular-styleguide">John Papa's style guide</a> with my AngularJS code, and so have kept my controllers as light as possible,
    pushing all business logic out into the billsJsonAPIData service.</p>

    <h2>Missing Items</h2>
    <p>Currently I'm writing this test while on holiday with a Wife who's feeling very neglected! Accordingly, as I hope
    you understand, there are a number of features not added that would be added if this were production code,
    and not being written under duress!
    </p>
    <p>The most obvious thing missing are the unit tests. However, if you look at my <a href="https://github.com/bundance">Github repo</a>,
    you can see a number of my other projects, all of which contain extensive unit tests. This at the least should
    hopefully give you an idea of the comprehensive set of tests I normally create.</p>
    <p>Also missing is any form of intuitive user interface. I've used Bootstrap for speed, but there are no nice
    accordions or other UI features I'd ordinarily use. If you look at the <a href="https://github.com/bundance/tr-demo</p>">tr-demo</a>
    repo, though, you should see examples of UI components I normally put in when I have time.</p>
    <p>Finally, the code is crying ut fir some directives, but again, time was limited I'm afraid!</p>

</div>

<div class="footer">
    <p>Mike Evans, Codernetic Ltd</p>
</div>